*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --primarycolor: #FA4F4F;
    --inputcolor: #FC5656;
    --lg: 20px;
    --md: 16px;
    --sm: 14px;
}

.cabecera{
    width: 100%;
    height: 35rem;
}

#navprincipal{
    display: flex;
    flex-direction: row;
    height: 7rem;
    width: 100%;
    justify-content: space-between;
    position: absolute;
}

#phome{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(255, 255, 255, 0)), url(Resource/wallhome.jpg);
    background-position: 60%;
    object-fit: cover;
}

.logo{
    width: 10rem;
    height: 4.2rem;
    margin-top: 2rem;
    margin-left: 3rem;
}

.listaiconos{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

i{
    font-size: 3rem;
    margin-right: 2rem;
    color: white;
    
}

.homepage #clasebusqueda{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 20px;
}

form{
    width: 700px;
    height: 4rem;
    display: flex;
    background-color: var(--primarycolor);
    border-radius: 3rem;
    align-items: center;
    color: white;
}

label{
    font-size: var(--md);
    margin-left: 3rem;
}

input{
    background-color: var(--inputcolor);
    padding: 6px;
    border-radius: 8px;
    width: 500px;
    height: 3rem;
    margin-left: 2rem;
    border: none;
    color: white;
}
input::placeholder{
    color: white;
    opacity: 50%;
}
input:focus{
    outline: none;
}
#iconsearch{
    margin-left: 4rem;
}

.title{
    font-size: var(--lg);
    font-weight: bold;
    margin-left: 4rem;
    margin-top: 4rem;
}

.containrecomendacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
}

.deptcard{
    width: 400px;
    height: 250px;
}

.cardtitle{
    height: 35px;
    background-color: var(--primarycolor);
    color: white;
    font-size: var(--md);
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    border-radius: 0px 0px 12px 12px;
}

#cardsm{
    background: url(Resource/wall1.jpg);    
    background-size: cover;
}
#cardmd{
    background-image: url(Resource/wall2.jpg);
    background-size: cover;
}
#cardlg{
    background-image: url(Resource/wall3.jpg);
    background-size: cover;
}

footer{
    height: 170px;
    margin-top: 70px;
    background-color: var(--primarycolor);
    display: flex;
    
}

#ztlogo{
    width: 70px;
    margin-top: 20px;
    margin-left: 20px;
}

#footerp{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    color: white;
    font-size: var(--sm);
}

.ztinfo{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.ghinfo{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    list-style: none;
    color: white;
}

.ghinfo li{
    padding: 3px;
}

#logogh{
    margin-right: auto;
    margin-left: auto;
}

.linkgithub{
    color: white;
    text-decoration: none;
}