:root {
    --ButtonColorPrimary:#fd1111;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5;
}
body{
    font-family: Roboto;
}
header{
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(255, 255, 255, 0)),url(Resource/wall1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.header__nav{
    width: 100%;
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
}

.header__nav-logo{
    width: 10vw;
    height: 5vh;
    background: url(Resource/LOGOW.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 15px 0px 0px 15px;
}

.header__nav-ul{
    height: 5vh;
    margin: 15px 15px 0px 0px;
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 1.8rem;
}

.header__nav-ul-li a{
    color: white;
}

.bxl-facebook-circle:hover{
    color: #1877f2;
}

.bxl-twitter:hover{
    color: rgb(29 155 240);
}

.bx-mail-send:hover{
    color: rgb(255, 123, 0);
}
.main{
    width: 100%;
    height: 40vh;
    max-width: 1366px;
    display: flex;
    margin: 0 auto;
}
.main__info{
    width: 40%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
}
.main__info-departament{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 1366px;
}
.main__info-department-title{
    font-weight: bold;
    font-size: 2.3rem;
}
.main__info-department-title span{
    color: red;
}
.main__info-department-description{
    max-width: 27ch;
    font-size: 1.2rem;
    font-weight: 600;
}
.main__info-departament-icons{
    font-size: 3rem;
}
.main__info-department-dimensions h3{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.main__info-department-dimensions p{
    font-size: 1.4rem;
}

.main__info-contact {
    width: 60%;
    display: flex;  
    justify-content: flex-end;
}

.main__info-profile {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
}

.main__info-tittle {
    font-size: 1.4rem;
    font-weight: bold;
}


.main__info-button {
    width: 80%;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: var(--ButtonColorPrimary);
    color: white;
    font-size: 1rem;
    font-weight: bold;
}