:root{
    --ButtonColorPrimary:#fd1111;
    --primarycolor: #FA4F4F;
    --inputcolor: #FC5656;
    --lg: 20px;
    --md: 16px;
    --sm: 14px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    background-image: url(Resource/wall1.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(255, 255, 255, 0)),url(Resource/wall1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.nav{
    max-width: 1300px;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    width: 140px;
    height: 140px;
    background-image: url(Resource/LOGOW.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position-y: center;
    transition: 0.3s all;

}

.nav__logo:hover{
    transform: scale(1.1);
    transition: 0.3s all;
}


.nav__ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.nav__ul-li a{
    color: white;
    font-size: 25px;
    transition: 0.3s ease;
}

.nav__ul-li:hover{
    transform: scale(1.3);
    transition: 0.3s;

}

.bxl-facebook-circle{
    transition: 0.3s all;
}

.bxl-twitter{
    transition: 0.3s all;
}

.bxs-envelope{
    
    transition: 0.3s all;
}

.bxl-facebook-circle:hover{
    color: #1877f2;
    transition: 0.3s all;
    
}

.bxl-twitter:hover{
    color: rgb(29 155 240);
    transition: 0.3s all;
}

.bxs-envelope:hover{
    color: #db4a39;
    transition: 0.3s all;
}

#Seccion1{
    max-width: 1300px;
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    padding-top: 40px;
}

.section__info{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 5%;

}

.info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.info-icons img{
    width: 30px;
}

.img2{
    margin-left: 10px;
}

.info-h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.1rem;
}

.info-p{
    text-align: left;
    max-width: 27ch;
    font-size: 1.3rem;
    font-weight: 600;
}

span{
    color: red;
}



.info-dimensions-h1{
    font-size: 2.1rem;
    text-transform: uppercase;
}

.contact{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 20%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.contact-info img{
    display: flex;
    
    width: 130px;
    border-radius: 50%;   
}

.contact-info-h2 h2{
    display: flex;
    justify-content: end;
}

.contact-info-btn{
    background-color: var(--ButtonColorPrimary);
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    transition: 0.3s all;
    cursor: pointer;
}

.contact-info-btn:hover{
    background-color: var(--inputcolor);
    transition: 0.3s all;
    padding: 5px 25px;
    cursor: pointer;

}

.section__map{
    margin-top: 2%;
    width: 100%;
    height: 60vh;
}

.section__map-map{
    width: 100%;
    height: 60vh;
    border-radius: 20px;
}

.footer__depa {
    width: 100%;
    height: 20vh;
    background-color: var(--primarycolor);
    margin-top: 40%;
}

.footer__container {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.logoZT {
    width: 75px;
    height: 25px;
    background: url("https://cdn.discordapp.com/attachments/657022177287340064/952797739706626098/ZT_Studios_White.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3px;
}

.ztlink {
    list-style: none;
    padding: 16px;
    display: flex;
    flex-direction: column; 
    gap: 8px;
    align-items: center;
}

.footer__list-github {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

#logogh {
    color: white;
    font-size: 2.3rem;
}

.linkgithub {
    color: white;
    text-decoration: none;
    font-size: var(--sm);
}